<link rel="stylesheet" href="../css/styles.css" />

<section class="about-section">
  <div class="container about">
    <svg class="about-icon">
      <use href=""></use>
    </svg>
    <div class="about-text">
      <h2 class="about-title">
        Empowering educators and students through innovative educational trends
        and insights.
      </h2>
      <p class="about-paragraph">
        The Educational Conference 2025 aims to foster collaboration and
        knowledge sharing among educators, students, and researchers. Attendees
        will gain valuable insights into modern teaching methodologies and
        educational technologies that can enhance their practices.
      </p>
    </div>
    <img
      src="../img/about-image/image-about.jpg"
      alt="Two smiling educators looking at a laptop"
      class="about-image"
    />
  </div>
</section>
