<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <nav>
        <div class="footer-logo">
          <svg></svg>
          <p class="footer-logo-text">EduConf</p>
        </div>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="" class="footer-list-item">footer-listHome</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-list-item">About Us</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-list-item">Speakers</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-list-item">Schedule</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-list-item">Gallery</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-list-item">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer-rights">
      © 2025 Educational Conference. All rights reserved.
    </p>
  </div>
</footer>
