<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Highlights from previous conferences</h2>
    <p class="gallery-text">Feel the energy from previous events</p>
    <ul class="gallery-list">
      <li class="gallery-img">
        <load src="/partials/gallery-img.html" count="1" />
      </li>
      <li class="gallery-img">
        <load src="/partials/gallery-img.html" count="2" />
      </li>
      <li class="gallery-img">
        <load src="/partials/gallery-img.html" count="3" />
      </li>
      <li class="gallery-img">
        <load src="/partials/gallery-img.html" count="4" />
      </li>
      <li class="gallery-img">
        <load src="/partials/gallery-img.html" count="5" />
      </li>
    </ul>
  </div>
</section>
