<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Highlights from previous conferences</h2>
    <p class="gallery-text">Feel the energy from previous events</p>
    <div class="gallery-container-tablet">
      <div class="gallery-hero-container">
        <img
          class="gallery-hero-img"
          srcset="
            ./img/gallery-img/galary1.jpg    1x,
            ./img/gallery-img/galary1@2x.jpg 2x
          "
          src="./img/gallery-img/galary1.jpg"
          alt="gallery-hero-img"
        />
      </div>
      <ul class="gallery-list">
        <li class="gallery-img">
          <img
            class="gallery-list-img"
            srcset="
              ./img/gallery-img/galary2.jpg    1x,
              ./img/gallery-img/galary2@2x.jpg 2x
            "
            src="./img/gallery-img/galary2.jpg"
            alt="fisrt-photo"
          />
        </li>
        <li class="gallery-img">
          <img
            class="gallery-list-img"
            srcset="
              ./img/gallery-img/galary3.jpg    1x,
              ./img/gallery-img/galary3@2x.jpg 2x
            "
            src="./img/gallery-img/galary3.jpg"
            alt="second-photo"
          />
        </li>
        <li class="gallery-img">
          <img
            class="gallery-list-img"
            srcset="
              ./img/gallery-img/galary4.jpg    1x,
              ./img/gallery-img/galary4@2x.jpg 2x
            "
            src="./img/gallery-img/galary4.jpg"
            alt="third-photo"
          />
        </li>
        <li class="gallery-img">
          <img
            class="gallery-list-img"
            srcset="
              ./img/gallery-img/galary5.jpg    1x,
              ./img/gallery-img/galary5@2x.jpg 2x
            "
            src="./img/gallery-img/galary5.jpg"
            alt="last-photo"
          />
        </li>
      </ul>
    </div>
  </div>

  <!-- =========PHOTO======== -->

  <!-- <div class="img-test"><img src="" /></div>
--></section>
