<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Highlights from previous conferences</h2>
    <p class="gallery-text">Feel the energy from previous events</p>
    <div class="gallery-hero-container">
      <img class="gallery-hero-img" />
    </div>
    <ul class="gallery-list">
      <li class="gallery-img"><img class="gallery-list-img" href="" /></li>
      <li class="gallery-img"><img class="gallery-list-img" href="" /></li>
      <li class="gallery-img"><img class="gallery-list-img" href="" /></li>
      <li class="gallery-img"><img class="gallery-list-img" href="" /></li>
    </ul>
  </div>
</section>
