<header class="page-header">
  <div class="container page-header-container">
    <nav class="header-nav">
      <a class="header-nav-logo" href="./index.html">
        <svg class="header-nav-logo-icon" width="39" height="39">
          <use href=""></use>
        </svg>
        <svg class="header-nav-logo-icon" width="119" height="25">
          <use href=""></use>
        </svg>
      </a>
    </nav>
    <button class="burger-button" type="button">
      <svg class="burger-button-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Home</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">About Us</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Speakers</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Schedule</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Gallery</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Testimonials</a>
      </li>
    </ul>
    <button class="register-button" type="button">Register Now</button>
  </div>
</header>
