<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-nav-logo" href="./index.html">
        <svg class="header-nav-logo-icon" width="158" height="37">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Speakers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Schedule</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Testimonials</a>
        </li>
      </ul>
    </nav>

    <button class="burger-button is-disabled" type="button">
      <svg class="burger-button-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button class="register-button" type="button">Register Now</button>
  </div>
</header>
