<div class="backdrop-success">
  <div class="modal-success">
    <button class="succes-close-btn">
      <svg class="succes-close-btn-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <picture>
      <source
        srcset="
          ./img/modal-saccess-images/modal-success-desktop.jpg    1x,
          ./img/modal-saccess-images/modal-success-desktop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/modal-saccess-images/modal-success-tablet.jpg    1x,
          ./img/modal-saccess-images/modal-success-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img
        srcset="./img/modal-saccess-images/modal-success-mob@2x.jpg 2x"
        src="./img/modal-saccess-images/modal-success-mob.jpg"
        alt="A close-up,a person smiling warmly at their laptop screen"
        class="about-image"
      />
    </picture>
    <h2 class="modal-success-title">Success! You're registered.</h2>
    <p class="modal-success-text">
      We've sent a confirmation to your email address. Please check your inbox
      (and your spam folder) to find your ticket and further instructions.
      <br />
      See you at the conference!
    </p>
    <button class="big-blue-btn">Close</button>
  </div>
</div>
