<div class="backdrop-success">
  <button class="succes-close-btn">
    <svg class="succes-close-btn-icon">
      <use href=""></use>
    </svg>
  </button>
  <div class="modal-success">
    <img src="" alt="" class="about-image" />
    <h2 class="modal-success-title">Success! You're registered.</h2>
    <p class="modal-success-text">
      We've sent a confirmation to your email address. Please check your inbox
      (and your spam folder) to find your ticket and further instructions. See
      you at the conference!
    </p>
  </div>
  <button class="succes-btn">Close</button>
</div>
