<section class="speakers">
  <div class="container">
    <h2 class="speakers-title">Meet our Speakers</h2>
    <ul class="speakers-list">
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Prof. David Johnson</h3>
          <p class="speaker-position">Professor of Educational Policy</p>
          <p class="speaker-desc">
            With over 20 years of experience in shaping educational frameworks,
            Professor Johnson will moderate our panel discussion, bringing his
            deep understanding of policy and practice to the forefront of the
            conversation.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Dr. Evelyn Smith</h3>
          <p class="speaker-position">Educational Futurist & Marketing Guru</p>
          <p class="speaker-desc">
            Dr. Smith is a renowned thought leader on the intersection of
            education and marketing. Her opening keynote will set the stage for
            the future of learning, and her later session will provide marketing
            strategies for educational institutions.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Dr. Kenji Brown</h3>
          <p class="speaker-position">CEO of EduInnovate Corp.</p>
          <p class="speaker-desc">
            As the founder of a leading EdTech startup, Dr. Brown is at the
            cutting edge of educational innovation. His session will explore
            transformative technologies that are shaping the future of
            education.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Ms. Chloe Lee</h3>
          <p class="speaker-position">Lead AI & Machine Learning Researcher</p>
          <p class="speaker-desc">
            Ms. Lee specializes in the application of artificial intelligence in
            learning environments. She will demystify complex AI concepts and
            showcase the latest innovations during her sessions on AI and
            Machine Learning basics.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Dr. Aarav Patel</h3>
          <p class="speaker-position">UX Strategist & Design Thinking Expert</p>
          <p class="speaker-desc">
            Dr. Patel champions human-centered design in technology. He will
            lead a hands-on workshop on Design Thinking and share his expertise
            on creating intuitive user experiences for educational platforms.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Ms. Sofia Garcia</h3>
          <p class="speaker-position">Data Scientist & Information Designer</p>
          <p class="speaker-desc">
            Ms. Garcia transforms complex data into compelling visual stories.
            Her session will cover powerful data visualization techniques that
            can enhance research, reporting, and student understanding.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Mr. Ben Thompson</h3>
          <p class="speaker-position">Technology Ethicist & Author</p>
          <p class="speaker-desc">
            Mr. Thompson is a leading voice in the discussion on digital ethics.
            He will explore the critical ethical considerations of implementing
            new technologies in education, urging a responsible approach to
            innovation.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speaker">
        <img src="" alt="" />
        <div class="speaker-info-wrapper">
          <h3 class="speaker-name">Mr. Marco Rodriguez</h3>
          <p class="speaker-position">Superintendent & Education Reformer</p>
          <p class="speaker-desc">
            With a career dedicated to transforming public education, Mr.
            Rodriguez will deliver an inspiring closing keynote, reflecting on
            the conference's themes and issuing a powerful call to action for
            all attendees.
          </p>
          <ul class="social-list">
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
            <li class="social-list-item">
              <a href="" class="social-link"></a>
              <svg class="icon">
                <use></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
