<!-- testimonials --><!-- testimonials --><!-- testimonials -->
<section class="testimonials">
  <div class="container">
    <div class="title-container">
      <h2 class="testimonials-title">What Our Attendees Say</h2>
      <p class="testimonials-subtitle">
        Hear directly from educators, researchers, and innovators<br
          class="br-tablet"
        /><br class="br-desktop" />
        who joined us at our past events.
      </p>
    </div>
    <div class="testimonials-list-container">
      <ul class="testimonials-list">
        <li class="testimonials-item">
          <p class="testimonials-text">
            EduConf is an unmissable event. The <br class="br-desktop" />caliber
            of speakers was exceptional, and <br class="br-desktop" />the
            connections I made with fellow educators have been invaluable for my
            research<br class="br-mobile" />
            and teaching practices. I'm<br class="br-desktop" />
            already looking forward to<br class="br-tablet" />next year.
          </p>

          <picture>
            <source
              srcset="
                ./img/testimonials/jane1x.webp 1x,
                ./img/testimonials/jane2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/testimonials/jane1x.jpg 1x,
                ./img/testimonials/jane2x.jpg 2x
              "
              type="image/jpeg"
            />

            <img
              class="testimonials-avatar"
              src="./img/testimonials/jane1x.jpg"
              alt="Jane Doe Avatar"
              width="56"
              height="56"
            />
          </picture>
          <p class="testimonials-name">Jane Doe</p>

          <p class="testimonials-position">
            Professor, Department of Education, Crestwood University
          </p>
        </li>
        <li class="testimonials-item">
          <p class="testimonials-text">
            The sessions on AI and instructional design were incredibly<br
              class="br-mobile"
            />
            insightful. I left with a<br class="br-desktop" />
            wealth of<br class="br-mobile" />
            new ideas and practical tools to implement in our platform. It’s the
            most forward-thinking conference in the EdTech space.
          </p>

          <picture>
            <source
              srcset="
                ./img/testimonials/maria1x.webp 1x,
                ./img/testimonials/maria2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/testimonials/maria1x.jpg 1x,
                ./img/testimonials/maria2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="testimonials-avatar"
              src="./img/testimonials/maria1x.jpg"
              alt="Maria Flores Avatar"
              width="56"
              height="56"
            />
          </picture>
          <p class="testimonials-name">Maria Flores</p>

          <p class="testimonials-position">
            PhD Candidate, Institute of Future Studies
          </p>
        </li>
        <li class="testimonials-item">
          <p class="testimonials-text">
            As a graduate<br class="br-tablet" />
            student, attending<br class="br-tablet" />
            was a game-changer. The workshops were practical, and being able to
            connect with leading researchers in my field was<br
              class="br-desktop"
            />
            inspiring. I feel energized and more connected to<br
              class="br-tablet"
            />
            the academic community.
          </p>
          <picture>
            <source
              srcset="
                ./img/testimonials/ben1x.webp 1x,
                ./img/testimonials/ben2x.webp 2x
              "
              type="image/webp"
            />

            <source
              srcset="
                ./img/testimonials/ben1x.jpg 1x,
                ./img/testimonials/ben2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="testimonials-avatar"
              src="./img/testimonials/ben1x.jpg"
              alt="Ben Carter Avatar"
              width="56"
              height="56"
            />
          </picture>
          <p class="testimonials-name">Ben Carter</p>

          <p class="testimonials-position">
            Lead Product Manager, Innovate Learning Ltd.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- testimonials --><!-- testimonials --><!-- testimonials -->
