.about-section .container {
  gap: 24px;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media only screen and (min-width: 768px) {
    max-width: 340px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 640px;
  }
}

.about-title {
  font-size: 32px;

  @media only screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.about-paragraph {
  font-size: 18px;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    width: 98%;
  }

  @media only screen and (min-width: 1440px) {
    width: 100%;
  }
}
