
.about {
    

    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media only screen and (min-width: 1440px) {
        padding: 92px 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--color-neutral-darkest);

    @media only screen and (min-width: 768px) {
        width: 340px;
    }

    @media only screen and (min-width: 1440px) {
        width: 640px;
    }
   
}

.about-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;

    @media only screen and (min-width: 1440px) {
        font-size: 48px;
    }
}

.about-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.about-image-wrapper {
    width: 340px;

    @media only screen and (min-width: 1440px) {
        width: 640px;
    }
}
