:root {
  --color-scheme-1-background: var(--color-white);
  --color-neutral-darkest: #03030a;
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9d9da;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b3b5;
  --color-neutral: #818184;
  --color-neutral-dark: #4e4e53;
  --color-neutral-darker: #1c1c22;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-white);
  --color-scheme-1-accent: var(--color-governor-bay);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(3, 3, 10, 0.05);
  --opacity-neutral-darkest-10: rgba(3, 3, 10, 0.1);
  --opacity-neutral-darkest-15: rgba(3, 3, 10, 0.15);
  --opacity-neutral-darkest-20: rgba(3, 3, 10, 0.2);
  --opacity-neutral-darkest-30: rgba(3, 3, 10, 0.3);
  --opacity-neutral-darkest-40: rgba(3, 3, 10, 0.4);
  --opacity-neutral-darkest-50: rgba(3, 3, 10, 0.5);
  --opacity-neutral-darkest-60: rgba(3, 3, 10, 0.6);
  --color-governor-bay-lightest: #eaecf9;
  --color-governor-bay-lighter: #d6d9f3;
  --color-governor-bay-light: #707cd6;
  --color-governor-bay: #3444c5;
  --color-governor-bay-dark: #29369d;
  --color-governor-bay-darker: #141b4e;
  --color-governor-bay-darkest: #0f143b;
  --color-scheme-2-text: var(--color-white);
  --color-scheme-2-background: var(--color-neutral-darkest);
  --color-scheme-2-border: var(--color-white);
  --color-scheme-2-accent: var(--color-white);
  --color-scheme-2-foreground: var(--color-neutral-darkest);
  --color-red: #9c0000;
  --font-family: 'Inter', sans-serif;
  --second-family: 'Teachers', sans-serif;
}

/* Styles for Mobile devices */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-scheme-1-text);
  background: var(--color-scheme-1-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-scheme-1-text);
  text-decoration: none;
  transition: color 250ms linear;
}

a:active {
  color: var(--color-scheme-1-accent);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.big-blue-btn {
  padding: 10px 0;
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family);
  line-height: 1.5;
  border: 1px solid var(--color-governor-bay);
  border-radius: 6px;
  background: var(--color-governor-bay);
  color: var(--color-white);
  transition: color 250ms linear, background-color 250ms linear;
}

.big-blue-btn:hover,
.big-blue-btn:focus {
  background: transparent;
  color: var(--color-scheme-1-text);
}

.big-blue-btn:active {
  background-color: var(--color-governor-bay-lighter);
  border: 1px solid var(--color-governor-bay);
  transform: translateY(2px);
}

.big-blue-btn:disabled {
  background-color: var(--color-governor-bay);
  opacity: 0.3;
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 64px 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 92px 64px;
  }
}
