@media screen {
  .footer {
    background: var(--color-scheme-2-background);
  }
  .footer-nav {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .footer-logo {
    fill: var(--color-white);
    text-align: center;
  }
  .footer-icon {
  }
  .footer-icon-svg {
  }
  .footer-logo-text {
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-2-text);
    /* text-align: center; */
    margin-bottom: 80px;
  }
  .footer-list-item {
  }
  .footer-line {
    border: 2px solid var(--color-scheme-2-border);
    height: 0px;
    margin: 0 auto;
    width: 100%;
  }
  .footer-rights {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-scheme-2-text);
  }
}

@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
  }
}
