.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 40px;
}

.gallery-container-tablet {
  display: block;
}

.gallery-hero-container {
  margin-bottom: 16px;
}

.gallery-hero-img {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-img {
  flex-basis: calc((100% - 16px) / 2);
  aspect-ratio: 1 / 1;
}

.gallery-list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #fff;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .gallery-hero-container {
    margin-bottom: 0;
  }

  .gallery-container-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }

  .gallery-img {
    aspect-ratio: auto;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
  }

  .gallery-container-tablet {
    display: flex;
    align-items: stretch;
    gap: 32px;
  }

  .gallery-hero-img {
    width: 100%;
    height: 100%;
  }
}
