.hero-content {
  margin-bottom: 40px;
}

.hero-title {
  font-family: var(--second-family);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 700;

  margin-bottom: 24px;
}

.hero-text {
  font-size: 18px;
  font-weight: 400;

  margin-bottom: 32px;
  width: 99%;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.hero-button:active {
  background: var(--color-governor-bay-lighter);
  color: var(--color-scheme-1-text);
}

.hero-button:disabled {
  background: var(--color-governor-bay);
  opacity: 0.3;
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .hero-button {
    min-width: 193px;
  }

  .hero-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .hero-row {
    flex-direction: row;
    column-gap: 35px;
    align-items: flex-end;
  }

  .hero-title {
    font-size: 56px;
    width: 100%;
  }

  .hero-text {
    margin-bottom: 0;
  }
}
