.hero {
  background-color: var(--color-scheme-1-background);
}

.hero-content {
  padding-bottom: 40px;
}

.hero-title {
  font-family: var(--second-family);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  padding-bottom: 24px;
}

.hero-text {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  padding-bottom: 32px;
  width: 99%;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);

  border: 1px solid var(--color-governor-bay);
  border-radius: 6px;
  background: var(--color-governor-bay);
  cursor: pointer;
  /* transition: color, background-color, opacity; */
}

.hero-button:hover,
.hero-button:focus {
  background-color: transparent;
  color: var(--color-scheme-1-text);
}

.hero-button:active {
  background: var(--color-governor-bay-lighter);
  color: var(--color-scheme-1-text);
}

.hero-button:disabled {
  background: var(--color-governor-bay);
  opacity: 0.3;
  color: var(--color-white);
}

.mobile-br {
  display: inline;
}

.tablet-br {
  display: none;
}

.desktop-br {
  display: none;
}

@media screen and (min-width: 1440px) {
  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .hero-row {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
  }

  .hero-title {
    font-size: 56px;
    width: 100%;
  }

  .hero-text {
    padding-bottom: 0;
  }

  .hero-button {
    min-width: 193px;
    align-self: flex-end;
  }
}
