@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: #ffffff;
    transform: translateX(200%);
    transition: transform 500ms linear;

    pointer-events: none;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .menu-logo-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-nav-logo {
    display: inline-flex;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
  }

  /* .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    /* transition: stroke 250ms linear; */

    width: 48px;
    height: 48px;
  }

  .mobile-menu-close-btn-icon {
    width: 24px;
    height: 24px;

    fill: var(--color-scheme-1-text);
    stroke-width: 1px;
    stroke: var(--color-scheme-1-text);
  }

  .menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 16px;
  }

  .menu-nav-link {
    display: block;
    padding: 16px 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
  }

  .menu-register-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-governor-bay);
    border-radius: 6px;
    padding: 10px 24px;
    min-width: 335px;
    background: var(--color-governor-bay);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);

    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: #ffffff;
    transform: translateX(200%);
    transition: transform 500ms linear;

    pointer-events: none;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  /* .tablet-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .menu-logo-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-nav-logo {
    display: inline-flex;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
  }

  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    /* transition: stroke 250ms linear; */

    width: 48px;
    height: 48px;
  }

  .mobile-menu-close-btn-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-scheme-1-text);
    stroke-width: 1px;
    stroke: var(--color-scheme-1-text);
  }

  .menu-nav-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 16px;
  }

  .menu-nav-link {
    display: block;
    padding: 16px 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
  }

  .nav-and-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-register-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-governor-bay);
    border-radius: 6px;
    padding: 10px 24px;
    min-width: 256px;
    background: var(--color-governor-bay);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);

    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
