@media screen and (min-width: 375px) {
  .container.mobile-menu-container {
    padding-top: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: var(--color-scheme-1-background);
    transform: translateX(200%);
    transition: transform 500ms linear;

    pointer-events: none;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
    pointer-events: auto;
  }

  .menu-logo-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-nav-logo {
    display: inline-flex;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
  }

  .mobile-menu-close-btn {
    padding: 0;
    line-height: 0;

    width: 48px;
    height: 48px;
  }

  .mobile-menu-close-btn-icon {
    fill: var(--color-scheme-1-text);
    stroke-width: 1px;
    stroke: var(--color-scheme-1-text);
  }

  .menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 16px;
  }

  .menu-nav-link {
    position: relative;
    display: inline-block;

    padding: 16px 0;

    transition: color 250ms linear;
  }

  .menu-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 100%;
    height: 1px;
    background-color: var(--color-scheme-1-text);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: center;

    transition: transform 250ms linear;
  }

  .menu-nav-link:hover::after,
  .menu-nav-link:focus::after {
    transform: scaleX(1);
  }

  .menu-nav-link:active::after {
    background-color: var(--color-scheme-1-accent);
  }

  .menu-nav-link:active {
    color: var(--color-scheme-1-accent);
  }

  .mobile-menu .big-blue-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 24px;
    min-width: 335px;

    margin-bottom: 40px;

    transition: all 250ms linear;
  }

  .mobile-menu .big-blue-btn:active {
    background: var(--color-governor-bay-lighter);
  }
}

@media screen and (min-width: 768px) {
  .menu-nav-link::after {
    bottom: 14px;
  }

  .nav-and-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mobile-menu .big-blue-btn {
    padding: 10px 24px;
    min-width: 256px;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
