body {
  /* font-family: var(--font-family);
  font-size: var(--text-size);
  background-color: var(--white);
  color: var(--slate);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing); */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
